<div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <a class="navbar-brand" [routerLink]="['/']">
      <img style="margin-left: 25px;" src="../../assets/img/logo_bar.jpg" height="37" alt="">
    </a>
    <!-- BOTAO MOBILE -->
    <button class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span c lass="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngxPermissionsOnly="'acess_home'" [routerLinkActive]="['active']">
          <a class="nav-link font-weight-bolder">
            INÍCIO
          </a>
        </li>
        <li class="nav-item d-lg-none" [routerLinkActive]="['active']">
          <a href="javascript:void(0);" class="nav-link font-weight-bolder text-muted"
            *ngxPermissionsOnly="'acess_home'">SAIR</a>
        </li>
      </ul>
    </div>
    <div class="d-none d-lg-block">
      <a href="javascript:void(0);" class="nav-link font-weight-bolder text-dark"
        *ngxPermissionsOnly="'acess_home'">SAIR</a>
    </div>
  </nav>
  <!-- END NAVBAR -->

  <!-- COMPONENETES -->
  <div class="container">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
