$theme-colors: (
  "primary": #ff4081,
  "secondary": #012296,
);

$font-family-base: "Oxygen", sans-serif;
$font-size-base: 0.875rem;

body {
  background-image: url("./assets/img/bg.png");
  background-size: cover !important;
}

.error {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

$custom-file-text: (
  en: "Browse",
  es: "Elegir",
  br: "Selecionar",
);

.screen-size {
  min-height: calc(100vh - 63.75px) !important;
}

.error-code {
  font-size: 15rem;
  line-height: 1;
}
