<div class="card p-3 shadow-sm border-0 my-4">
    <div class="d-flex justify-content-between">
        <h3 class="text-primary">Clientes</h3>
    </div>
    <!-- DADOS DOS CLIENTES -->
    <div class="container mt-3" style="overflow-y: auto;" *ngIf="returnedArray?.length > 0">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="content-item" *ngFor="let cliente of returnedArray">
                            <th scope="row">{{ cliente.nmCliente }}</th>
                            <td>{{ cliente.email }}</td>
                            <td>{{ cliente.cpf | mask : '000.000.000-00' }}</td>
                            <td>{{ cliente.telefoneCelular | mask : '(00) 00000-0000' }}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-primary btn-sm mr-1 mt-1">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-sm mr-1 mt-1">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm mr-1 mt-1">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- PAGINACAO -->
    <pagination class="float-right mb-1" previousText="Anterior" nextText="Próximo" [totalItems]="contentArray?.length"
        (pageChanged)="pageChanged($event)" *ngIf="contentArray?.length > 10"></pagination>
    <!-- MENSAGENS TELA -->
    <div class="alert alert-info mt-3" role="alert" *ngIf="returnedArray?.length == 0 || !returnedArray">
        Nenhum cliente foi encontrado.
    </div>
    <!-- BOTOES  -->
    <div class="container mb-3 mr-3">
        <div class="row">
            <div class="col text-right">
                <button class="btn btn-primary">
                    Cadastrar
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>
    </div>